.route--active {
  font-weight: bold;
  color: #fff;
  //background-color: #33aaff;
  //text-decoration: underline;
}

.banner {
  display: flex;
  font-size: 0;

  .logo-wrapper {
    position: relative;
    flex: 1;
    //width: 600px;
    background-color: #0077cc;
    font-size: 20px;
    .logo{
      position: absolute;
      bottom: 0;
      height: 90px;
      z-index: 20;
      background-color: blueviolet;
      width: 90px;
      border-radius: 50%;
    }
  }
  .router-wrapper {
    display: flex;
    flex: 1;
    //width: 50%;
    //margin-left: 50%;
    padding: 20px;
    background-color: rgba(20, 20, 20, 0.3);
    .router-item {
      flex: 1;
      height: 28px;
      line-height: 28px;
      font-size: 28px;
      &:hover {
        text-decoration: none;
      }

    }

  }
  .vote-button {
    position: absolute;
    font-size: 20px;
    right: 100px;
    bottom: 50px;
    width: 200px;
    height: 60px;
    border-radius: 15px;
    background-color: #0077cc;
    .router-item{
      line-height: 60px;
      text-align: center;
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
  }

}
